@media (max-width: 3000px) {
    .center__main {
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
    }
   
    .x3wnl0x__img {
        position: absolute;
        left: 50%;
        top: -30%;
        transform: translate(-50%, -50%);  
        width: 155px;
        height: auto;
        justify-content: center;
    }
}


@media (max-width: 2000px) {
    .center__main {
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
    }
   
    .x3wnl0x__img {
        position: absolute;
        left: 50%;
        top: -30%;
        transform: translate(-50%, -50%);  
        width: 155px;
        height: auto;
        justify-content: center;
    }
}


@media (max-width: 1500px) {
    .center__main {
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
    }
   
    .x3wnl0x__img {
        position: absolute;
        left: 50%;
        top: -30%;
        transform: translate(-50%, -50%);  
        width: 155px;
        height: auto;
        justify-content: center;
    }
}


@media (max-width: 1280px) {
    .center__main {
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
    }
   
    .x3wnl0x__img {
        position: absolute;
        left: 50%;
        top: -30%;
        transform: translate(-50%, -50%);  
        width: 155px;
        height: auto;
        justify-content: center;
    }
    
}

@media (max-width: 992px) {
    .center__main {
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
    }
   
    .x3wnl0x__img {
        position: absolute;
        left: 50%;
        top: -30%;
        transform: translate(-50%, -50%);  
        width: 155px;
        height: auto;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .center__main {
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
    }
   
    .x3wnl0x__img {
        position: absolute;
        left: 50%;
        top: -30%;
        transform: translate(-50%, -50%);  
        width: 155px;
        height: auto;
        justify-content: center;
    }
}

@media (max-width: 480px) {

}

@media (max-width: 320px) {
   
    .center__main {
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
    }
   
    .x3wnl0x__img {
        position: absolute;
        left: 50%;
        top: -30%;
        transform: translate(-50%, -50%);  
        width: 155px;
        height: auto;
        justify-content: center;
    }

    .portfolio__tx {
        align-items: center;
    }

    .portfolio__tx a {
        padding: 0 10px;
        text-align: center;c
    }


}