@font-face {
  font-family: "Blackcraft";  
  src: url("../fonts/Blackcraft.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
   }

   @font-face {
  font-family: "Undertale-Battle-Font";  
  src: url("../fonts/Undertale-Battle-Font.woff2") format("woff2"); 
  font-style: normal; 
  font-weight: bold;
   }


h1 {
  font-family: "Blackcraft";
}

html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(167, 12, 12, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;

  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #b5abab;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* ---- particles.js container ---- */

/* ---- main__dev ---- */

.main__dev {
  justify-content: center;
  display: flex;
  pointer-events: none;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Смещает блок на половину его ширины и высоты назад */
  width: 50%; /* Пример ширины */
  pointer-events: none; 
}
  pointer-events: none; 

.main__main {
  justify-content: center;
  align-items: center;
  pointer-events: none;
  height: 100vh; }

.center__main {
  display: flex;
  pointer-events: none;
  justify-content: center;
  align-items: center;
}

.title__main {
  font-size: 75px;
  pointer-events: none;
} 

.img__main {
  height: 120px;
  width: 100%;
}

.social__dev {
  pointer-events: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 19px;
  margin-bottom: 25px;
}


.social__icon {
  height: 50px;
  width: auto;
}

.social__vk, .social__tg, .social__git {
  pointer-events: auto;
  
}


/* test */

.social__dev a:hover .anim::before {
  opacity: 1;
}

.social__dev a:hover img.social__icon {
  transform: scale(1.2);
}

/* test */



.title__main {
  font-size: 75px;
  pointer-events: none;
  font-family: Blackcraft;
  font-weight: 900;
  position: relative;
  color: transparent; /* Прозрачный цвет текста */
  text-transform: uppercase;
  background: linear-gradient(45deg, #FFB6C1, #ffa500, #00FF00, #bc46b8, #131111, #7ace43, #FFD700); /* Градиентный фон с различными цветами */
  background-size: 600% 600%;
  animation: glowingBackground 12s linear infinite; /* Более быстрая анимация */
  -webkit-background-clip: text;
  background-clip: text;
}

.title__main:before {
  content: attr(data-text); /* Используем текст из атрибута data-text */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent; /* Прозрачный цвет текста */
  mix-blend-mode: screen;
  animation: glowingText 1s linear infinite; /* Ускорение анимации текста */
}

@keyframes glowingText {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes glowingBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@media (max-width: 690px) {
  .pouring { font-size: 20px; } 
}

#typing-text {
  font-family: "Undertale-Battle-Font";
  font-size: 24px;
  color: #fff;
}

.portfolio__tx {
  pointer-events: auto;
  width: 50%; /* Ширина дива - 50% от родительского элемента */
  margin: 0 auto; /* Центрирование по горизонтали */
  text-align: center; /* Центрирование текста внутри дива */
}

.portfolio__tx a {
  display: block; /* Превращаем ссылку в блочный элемент */
  width: 100%; /* Ширина ссылки - 100% от ширины дива */
  text-decoration: none; /* Убираем подчеркивание ссылки */ /* Добавьте отступы по желанию */
  background-color: rgb(14, 24, 27); 
  border-radius: 10px;
}

/* ---- main__dev ---- */



